body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

input {
  padding: 10px;
  width: 200px;
  display: block;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
}
